@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.text-editor {
  margin: 0 0;

  &.no-bar {
    #toolbar {
      display: none;
    }
  }

  .quill {
    height: 100%;

    .ql-container {
      height: 100%;
    }
  }
}
.ql-editor {
  min-height: 100px;
}

.comments-panel {
  height: auto;

  .text-area-overlay-btn {
    opacity: 0;
  }

  textarea {
    font-size: 12px;
  }

  .comment-buttons {
    display: inline;
    width: fit-content;

    button {
      padding: 3px 6px;
      margin: -4px 5px 0 0;

      svg {
        padding: 0;
        margin: 0;
      }
    }
  }

  h4 {
    display: inline;
  }
}



/* Set dropdown font-families */
 #toolbar-container .ql-font span[data-label="Sans Serif"]::before {
   font-family: "Sans Serif", sans-serif;
 }

#toolbar-container .ql-font span[data-label="Arial"]::before {
  font-family: "Arial", sans-serif;
}
#toolbar-container .ql-font span[data-label="Comic Sans MS"]::before {
  font-family: "Comic Sans MS", sans-serif;
}
#toolbar-container .ql-font span[data-label="Courier New"]::before {
  font-family: "Courier New", serif;
}
#toolbar-container .ql-font span[data-label="Georgia"]::before {
  font-family: "Georgia", serif;
}
#toolbar-container .ql-font span[data-label="Helvetica"]::before {
  font-family: "Helvetica", sans-serif;
}
#toolbar-container .ql-font span[data-label="Impact"]::before {
  font-family: "Impact", sans-serif;
}
#toolbar-container .ql-font span[data-label="Lucida"]::before {
  font-family: "Lucida", sans-serif;
}
#toolbar-container .ql-font span[data-label="Roboto"]::before {
  font-family: "Roboto", sans-serif;
}
#toolbar-container .ql-font span[data-label="Times New Roman"]::before {
  font-family: "Times New Roman", serif;
}
#toolbar-container .ql-font span[data-label="Trebuchet MS"]::before {
  font-family: "Trebuchet MS", serif;
}
#toolbar-container .ql-font span[data-label="Verdana"]::before {
  font-family: "Verdana", sans-serif;
}


/* Set content font-families */
.ql-font-arial {
  font-family: "Arial", sans-serif;
}
.ql-font-comic-sans {
  font-family: "Comic Sans MS", sans-serif;
}
.ql-font-courier-new {
  font-family: "Courier New", serif;
}
.ql-font-georgia {
  font-family: "Georgia", serif;
}
.ql-font-helvetica {
  font-family: "Helvetica", sans-serif;
}
.ql-font-impact {
  font-family: "Impact", sans-serif;
}
.ql-font-lucida {
  font-family: "Lucida Console", sans-serif;
}
.ql-font-roboto {
  font-family: "Roboto", sans-serif;
}
.ql-font-times-new-roman {
  font-family: "Times New Roman", serif;
}
.ql-font-trebuchet-ms {
  font-family: "Trebuchet MS", serif;
}
.ql-font-verdana {
  font-family: "Verdana", serif;
}


span.comment-tag {
  background-color: #FFFAD1 !important;
}

span.comment-tag-active {
  background-color: #FFD23D !important;
}



//div.comtag {
//  background-color: #f3d11c;
//  display: inline;
//}

span.comment-btn {
  font-family: "Lucida Console", sans-serif;
  content: attr(data-content);
  border: 1px solid #404040;
  //background-color: #FFFAD1;
  color: #404040;
  font-size: 12px;
  border-radius: 50%;
  position: relative;
  top: -9px;
  padding: 2px 1px 2px 2px;
  display: inline-block;
  width: 20px;
  height: 19px;
  cursor: pointer;

  //&:after {
  //  color: red;
  //  content: attr(data-content);
  //}
}

#comments-layer-wrapper {
  position: absolute;
  //background-color: green;
  width: calc(100% - 20px);
  height: 100%;
  top: 0;
  left: 0;
  //opacity: 0.25;
  pointer-events: none;
  overflow: hidden;

  .comment-buttons-layer {
    position: relative;
    top: 0;

    .comment-btn {
      font-family: "Lucida Console", sans-serif;
      background-color: #FFFAD1;
      content: attr(data-content);
      border: 1px solid #404040;
      color: #404040;
      font-size: 12px;
      border-radius: 50%;
      position: absolute;
      padding: 2px;
      display: block;
      width: 21px;
      height: 21px;
      cursor: pointer;
      pointer-events: auto;
      z-index: 100;

      &.selected {
        background-color: #FFD23D;
      }
    }
  }
}