@import "root-styles";
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');


body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  background-color: var(--x-dark-gray) !important;
  height: 100%;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: black;
  margin: 0;

  .aside {
    font-weight: normal;
    font-style: italic;
    color: var(--x-light-gray);
  }

  &.subtext {
    font-weight: normal;
    color: var(--x-gray);
  }
}

input, .form-control {
  border-color: var(--x-med-gray) !important;

  &:disabled {
    border-color: var(--x-light-gray) !important;
    color: var(--x-light-gray);
    font-style: italic;
  }
}

.alert-block {
  background-color: goldenrod;
  max-width: fit-content;
}

.answer-opt {
  &:hover {
    cursor: pointer;
    background-color: var(--x-gray);
  }

  &.selected {
    .form-control {
      background-color: lightgoldenrodyellow;
    }

    .input-group-prepend {
      background-color: goldenrod;

      .input-group-text {
        font-weight: bold;
        background-color: unset;
      }
    }
  }

  &.correct-selection {
    .form-control {
      background-color: palegreen;
    }
    .input-group-prepend {
      background-color: limegreen;
    }
  }

  &.incorrect-selection {
    .form-control {
      background-color: palevioletred;
    }
    .input-group-prepend {
      background-color: darkred;
    }
  }

  .input-group-prepend {
    border: 1px solid var(--x-gray) !important;
  }
}

.read-only .answer-opt {
  &:hover {
    cursor: default;
    background-color: unset;
  }
}


h1 {
  font-size: 24px;
  line-height: 38px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 14px;
}

.dashboard {
  min-height: calc(100vh - 80px - 3rem);
  font-family: 'Arial', 'Regular', sans-serif;
}

.screen-header-bar {
  padding: 14px 20px;
}

.splitter-right {
  border-right: 1px solid black;
}

.vertical-separator {
  position: absolute;
  top: calc(50% + 30px);
  bottom: 50%;
  left: 50%;
  right: 50%;
  height: auto;

  h3.spacer-word {
    height: 60px;
    line-height: 60px;
    width: fit-content;
    background-color: white;
    text-align: center;
    vertical-align: middle;
  }
}

button {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 16px !important;
  font-weight: bold !important;

  .btn-icon {
    display: inline-block;
    margin-right: 12px;
    color: white;
  }

  border: none !important;
  background-color: var(--x-dark-gray);
  &:visited, &::selection {
    border: none;
    background-color: var(--x-dark-gray);
  }
  &:active {
    border: none;
    background-color: var(--x-black) !important;
  }
  &:hover, &:focus {
    box-shadow: none;
    border: none;
    background-color: var(--x-black) !important;
  }
}

table.listing {
  tr.marker-row {
    .marker {
      color: white;
      line-height: 0;
      margin: 0;
      padding: 0;
      text-align: center;
      background-color: var(--x-dark-gray);
    }
    .status-col, .student-col {
      text-align: left;
      padding-left: 30px;
    }
  }

  th {
    cursor: pointer;

    &.student-col {
      width: auto;
    }

    &.mini-col {
      width: 8%;
    }

    &.status-col {
      width: 30%;
    }

    &.sort-col {
      color: var(--x-darkest-gray);
      font-style: italic;
    }
  }
}
.page-btn {
  border: none;
  font-weight: normal !important;
  background-color: var(--x-lightest-gray) !important;
  color: var(--x-dark-gray);

  &.selected {
    border: 1px solid black !important;
    background-color: white !important;
    color: black;
  }
}

//button.page-nav-btn {
//  border: none;
//  background-color: var(--x-dark-gray);
//  &:visited, &::selection {
//    border: none;
//    background-color: var(--x-dark-gray);
//  }
//  &:active {
//    border: none;
//    background-color: var(--x-black) !important;
//  }
//  &:hover, &:focus {
//    box-shadow: none;
//    border: none;
//    background-color: var(--x-black);
//  }
//}

.bottom-row {
  position: relative;
  bottom: 0;
}

.box-shadow {
  border: 1px solid #DFDFDF;
  border-radius: 6px;
  box-shadow: 0 6px 22px 0 rgba(0, 0, 0, 0.1);
}

.mini-nav-col {
  max-width: 30px;
}


label {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  font-weight: 600;
  color: var(--x-light-gray);
}

.summary-data {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: 600;
  color: var(--x-darkest-gray)
}

.input-bar {
  display: grid;
  grid-template-columns: 3fr 4fr;
  padding: 5px 0 20px 0;
  font-size: 1em;
  color: var(--x-darkest-gray)
}

.input-bar.hidden {
  visibility: hidden;
}

.input-bar label {
  text-align: right;
  margin: 0 10px 0 40px;
}
.input-bar input, .input-bar textarea {
  margin: 0 40px 0 10px;
}

.input-bar.lumped-with-next {
  padding: 5px 0 5px 0;
}

.options-list input {
  width: calc(100% - 60px);
  margin: 0 40px 0 10px;
}

