
.collapsed {
  height: 5px;
}

.collapsed .col label {
  opacity: 0;
  height: 0px;
}

.no-click-thru {
  z-index: 15;
}

.grade-bar-row {
  border: 1px solid var(--x-lightest-gray);
  border-top: none;
  border-bottom: none;
}

.grade-bar-bottom-row {
  border: 1px solid var(--x-lightest-gray);
  border-top: none;
}

.toggle-opts-btn:hover {
  background-color: purple;
}

.grade-bar-nav-btn {
  cursor: pointer;

  &:hover {
    color: var(--x-darkest-gray);
  }
  &:active {
    color: var(--x-light-gray);
  }
}

.selected-score {
  font-size: 24px;
  color: var(--x-light-gray)
}

.saved-msg[data-activated='0'] {
  position: absolute;
  opacity: 0;
}
.saved-msg[data-activated='1'] {
  animation: expand 1s 1;
}

@keyframes expand {
  0% {
    opacity: 0%;
    top: 0px;
    left: 0px;
    //font-size: 12px;
    //line-height: 12px;
    transform: scale(1);
  }
  25% {
    opacity: 50%;
  }
  100% {
    opacity: 0%;
    top: -10px;
    left: 10px;
    //font-size: 28px;
    //line-height: 28px;
    transform: scale(3);
  }
}